/*-----------------------------------------------------------------------------------------------------
    [Master Stylesheet]
		by : DIG
    Version : 1.0

    Projet : eSales 1.2
    Website : 
  
-------------------------------------------------------------------------------------------------------*/

@import "helpers/_variables";
@import "helpers/_mixins";

@import "global/_reset";
@import "global/_colors";
@import "global/_typography";
@import "global/_helpers";
@import "global/_grid";
@import "global/_commons";

@import "components/_block-address";
@import "components/_block-truck";
@import "components/_breadcrumb";
@import "components/_buttons";
@import "components/_form-search-address";
@import "components/_form";
@import "components/_icons";
@import "components/_overlay";
@import "components/_pagination";

@import "modules/_account-bar";
@import "modules/_header";
@import "modules/_footer";
@import "modules/_list-address";
@import "modules/_nav";
@import "modules/_order-pending";
@import "modules/_popin";
@import "modules/_table";

@import "layout/_account";
@import "layout/_page";

