/*-----------------------------------------------------------------------------------------------------
    [Grid]
-------------------------------------------------------------------------------------------------------*/

.container {
  max-width: $container-width;
  margin: 0 auto;
  @include mq(large) {
  	padding: 0 10px;
  }
}
