/*-----------------------------------------------------------------------------------------------------
    [Buttons]

    + Primary
    + Secondary
-------------------------------------------------------------------------------------------------------*/
button:focus {outline:0;}

.button {
	display: inline-block;
	background: none;
	border: none;
	min-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: color 200ms, background 200ms, border-color 200ms;
	padding: 10px 15px 10px 15px;
	text-align: center;
	&:hover {
		
	}

	&.small {
		min-height: 32px;
		padding: 5px 20px 5px 20px;
	}

  &.primary {
  	background-color: $primary;
  	color: #FFF;
  	font-weight: bold;
  	font-size: 15px;
  	border: 1px solid $primary;
  	&:hover {
			background-color: #FFF;
			color: $primary;
		}
  }
  &.secondary {
  	background-color: #B0B1B5;
  	color: #FFF;
  	font-weight: bold;
  	font-size: 15px;
  	border: 1px solid #B0B1B5;
  	&:hover {
			background-color: #FFF;
			color: #B0B1B5;
		}
  }
	
	&.icon-only {
		padding: 0;
		min-width: 50px;
		position: relative;
		[class*="icon-"] {
			color: #FFF;
			position: absolute;
			right: 50%;
			top: 50%;
			transform: translateY(-50%) translateX(50%);
			transition: all 0.3s;
		}
		&:hover {
			[class*="icon-"] {
				color: $primary;
			}
		}
	}
	&.icon-right {
		position: relative;
		padding-right: 60px;
		//text-align: left;
		[class*="icon-"] {
			color: #FFF;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s;
			font-size: 20px;
		}
		[class*="icon-truck"] {
			right: 10px;
			top: 57%;
			font-size: 40px;
		}
		&:hover {
			[class*="icon-"] {
				color: $primary;
			}
		}
		&.secondary {}
	}

}

