/*-----------------------------------------------------------------------------------------------------
    [list-address]
-------------------------------------------------------------------------------------------------------*/

.list-address {
	margin: 30px 0 0 0;
	li {
		float: left;
		width: 28%;
		margin: 0 2.666% 35px 2.666%;
	}
	+ .list-actions {
		margin-top: 0px;
	}
	+.divider {
		margin-top: -35px;
		}
}