/*-----------------------------------------------------------------------------------------------------
    [order-pending]
-------------------------------------------------------------------------------------------------------*/
.order-pending {
	//padding: 0 2.5%;
	position: relative;
	&:before {
		content: "";
		display: block;
		margin-left: 0;
		position: absolute;
		height: 1px;
		//border-top: 1px dashed #B0B1B5;
		background: url('../img/border-dashed.svg') repeat-x left top;
		top: 75px;
		left: 200px;
		right: 200px;
		z-index: -1
	}
	.order-pending--alert {
		text-align: center;
		color: $primary;
		font-size: 15px;
		margin-bottom: 20px;
	}
	
	.order-pending--block {
		float: left;
	}
	.order-pending--title {
		text-align: center;
		color: $primary;
		font-size: 17px;
		font-weight: bold;
		margin-bottom: 18px;
		[class*="icon-"] {
			color: $primary;
			font-size: 40px;
			margin-bottom: 10px;
			display: inline-block;
		}
	}

	.order-pending--address-shipping {
		width: 28%;
		margin-left: 2.666%;
	}
	.order-pending--address-delivery {
		width: 28%;
		margin-right: 2.666%;
	}
	.order-pending--truck-filling {
		width: 38.666%;
		text-align: center;
		.list-truck {
			text-align: center;
			margin: 15px 0 10px 0;
			display: inline-block;
			background-color: #FFF;
			padding: 0 15px;
			li {
				display: inline-block;
				margin: 0 10px;
			}
		}
		p {
			margin-bottom: 8px;
			u {
				font-size: 12px;
			}
			&.warning {
				color: $primary;
			}
		}
		.button {
			display: block;
			max-width: 200px;
			margin: 15px auto 0 auto;
		}
	}

	.block-address {
		padding-top: 30px;
		min-height: 170px;
		.block-address--info {
			//margin-bottom: 30px;
			min-height: 0;
		}
	}
}


