/*-----------------------------------------------------------------------------------------------------
    [popin]
-------------------------------------------------------------------------------------------------------*/
.popin-block {
  width      : 550px;
  background : #FFF;
  position   : fixed;
  top        : 50%;
  left       : 50%;
  transform  : translate(-50%, -50%);
  margin     : 0 auto;
  z-index    : 99;
  @media screen and (max-width : 600px) {
    width : auto;
    }
  &.small {
    max-width : 400px;
    }
  &.medium {
    max-width : 900px;
    }
  &.large {
    width     : 1074px;
    max-width : 1200px;
    }
  &.fullscreen {
    height    : 100%;
    max-width : none;
    }
  .popin-close {
    position : absolute;
    top      : 0;
    right    : 0;
    width    : 55px;
    height   : 55px;
    padding  : 0;
    [class*="icon-"] {
      pointer-events : none;
      font-size      : 18px;
      position       : relative;
      top            : 0;
      color          : $primary;
      }

    &:hover,
    &:focus {
      background-color : $primary;
      [class*="icon-"] {
        color : white;
        }
      }
    }
  .popin-content {
    width   : auto;
    padding : 40px 20px 40px 20px;
    }
  .popin-footer {
    padding : 20px 20px 40px 20px;
    &.popin-actions {
      .button {
        width  : 200px;
        margin : 0 20px;
        }
      }
    }

  // CART
  &.popin-cart {
    text-align : center;
    .popin-content { }
    .list-truck {
      text-align       : center;
      margin           : 15px 0 10px 0;
      display          : block;
      background-color : #FFF;
      padding          : 0 15px;
      li {
        display : inline-block;
        margin  : 0 10px;
        }
      }
    }
  }






