/*-----------------------------------------------------------------------------------------------------
    [table]
-------------------------------------------------------------------------------------------------------*/
.table { }

.order-history {
  margin-top    : 50px;
  margin-bottom : 30px;
  width         : 100%;
  thead {
    tr {
      th {
        color          : #CCC;
        font-size      : 12px;
        border         : none;
        border-bottom  : 1px solid $border-color;
        padding        : 10px 20px;
        text-transform : none;
        &.first {
          padding-left : 0;
          }
        &.col-total {
          text-align : center;
          }
        }
      }
    }
  tbody {
    tr {
      td {
        border        : none;
        border-bottom : 1px solid $border-color;
        padding       : 25px;
        }
      }
    }
  td {
    border        : none;
    border-bottom : 1px solid $border-color;
    padding       : 25px;
    position      : relative;
    &:after {
      content          : "";
      display          : block;
      position         : absolute;
      right            : 0;
      top              : 50%;
      margin-top       : -20px;
      height           : 40px;
      width            : 1px;
      background-color : $border-color;
      }
    &.first {
      padding-left : 0;
      }
    &.col-total {
      //text-align: center;
      position : relative;
      width    : 25%;
      .truck-filling {
        float      : left;
        width      : 48%;
        text-align : center;
        .truck {
          display    : block;
          margin-top : 2px;
          position   : relative;
          text-align : center;
          margin     : 0;
          transform  : scale(1);
          width      : auto;
          max-height : none;
          float      : none;
          span {
            font-size   : 12px;
            font-weight : bold;
            color       : #FFF;
            position    : absolute;
            top         : 3px;
            left        : 0;
            right       : 5px;
            text-align  : center;
            }
          img {
            display : inline-block;
            width   : 64px;
            }
          }
        a {
          font-size       : 12px;
          text-decoration : underline;
          }
        }
      .total-info {
        float : right;
        width : 48%;
        }
      }
    &.last {
      padding-right  : 0;
      width          : 20%;
      vertical-align : middle;
      .button {
        font-size : 14px;
        width     : 100%;
        [class*="icon-"] {
          top       : 54%;
          font-size : 24px;
          }
        }
      &:after {
        display : none;
        }
      }
    }
  }

.order-details {
  border-top    : 1px solid $border-color;
  margin-top    : 20px;
  margin-bottom : 30px;
  width         : 100%;
  thead {
    tr {
      th {
        color          : #CCC;
        font-size      : 12px;
        border         : none;
        border-bottom  : 1px solid $border-color;
        padding        : 10px 25px;
        text-transform : none;
        &.first {
          padding-left : 0;
          }
        &.col-total {
          text-align : center;
          }
        }
      }
    }
  tbody {
    tr {
      td {
        border         : none;
        border-bottom  : 1px solid $border-color;
        font-size      : 16px;
        padding        : 25px 15px;
        vertical-align : middle;
        }
      }
    }
  td {
    border        : none;
    border-bottom : 1px solid $border-color;
    text-align    : center;
    padding       : 25px 15px;
    position      : relative;
    .truck-filling {
      float      : left;
      text-align : center;
      .truck {
        display    : block;
        margin-top : 2px;
        position   : relative;
        text-align : center;
        margin     : 0;
        transform  : scale(1);
        width      : auto;
        max-height : none;
        float      : none;
        span {
          font-size         : 18px;
          font-weight       : bold;
          color             : #FFF;
          position          : absolute;
          top               : 50%;
          left              : 0;
          right             : 5px;
          -webkit-transform : translate(0, -55%); -moz-transform : translate(0, -55%); -ms-transform : translate(0, -55%); -o-transform : translate(0, -55%); transform : translate(0, -55%);
          text-align        : center;
          }
        img {
          display : inline-block;
          width   : 92px;
          }
        }
      a {
        font-size       : 12px;
        text-decoration : underline;
        }
      }
    &.first {
      padding-left : 0;
      }
    &.col-total {
      color       : $primary;
      font-weight : bold;
      //text-align: center;
      position    : relative;
      width       : 25%;
      }
    &.last {
      padding-right  : 0;
      width          : 20%;
      vertical-align : middle;
      .button {
        font-size : 14px;
        width     : 100%;
        [class*="icon-"] {
          top       : 54%;
          font-size : 24px;
          }
        }
      }
    }
  }

.order-products-container {
  padding: 0 2.666%;
  }

.order-products {
  margin   : 15px 0;
  width         : 100%;
  thead {
    tr {
      th {
        color          : #CCC;
        font-size      : 12px;
        border         : none;
        border-bottom  : 1px solid $border-color;
        padding        : 15px;
        text-align     : center;
        text-transform : none;
        &.first {
          padding-left : 0;
          }
        &.col-article {
          text-align : left;
          }
        }
      }
    }
  tbody {
    tr {
      td {
        border         : none;
        border-bottom  : 1px solid $border-color;
        padding        : 15px;
        vertical-align : middle;
        }
      }
    }
  td {
    border        : none;
    border-bottom : 1px solid $border-color;
    padding       : 15px;
    position      : relative;
    text-align    : center;
    &.first {
      padding-left : 0;
      width: 17%;
      }
    &.last {
      padding-right  : 0;
      vertical-align : middle;
      }
    &.col-article {
      text-align : left;
      }
    }
  tr.col-weight {
    > td {
      border-bottom: 0 none;
      padding-bottom: 5px;
      &:first-child {
        text-align: right;
        }
      }
    }
  tr.col-total {
    > td {
      border-bottom: 0 none;
      color: $primary;
      font-size : 16px;
      font-weight: bold;

      text-transform: uppercase;
      padding-top: 5px;
      &:first-child {
        color: inherit;
        text-align: right;
        }
      }
    }
  }






