/*-----------------------------------------------------------------------------------------------------
    [account]
-------------------------------------------------------------------------------------------------------*/
.page-account {}

.account-title {
	font-size: 20px;
	line-height: 23px;
	font-weight: bold;
	span {
		font-weight: normal;
	}
	//margin-bottom: 30px;
}